button {
  background-color: powderblue;
  padding: 15px;
  border-radius: 47%;
}

button:hover {
  background-color: pink;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: powderblue;
}

th {
  background-color: rgb(38, 174, 192);
}
